<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>modot</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/github-markdown-light.css') }}">
</head>
<body>
  <header class="app-header">
    <div class="app-header__inner">
      <div class="header-group header-group--left">
        <h1 class="app-title">modot</h1>
      </div>
      
      <div class="header-group header-group--center">
        <button id="btn-toggle-view" class="view-btn">Preview</button>
        <button id="btn-side-by-side" class="view-btn icon-btn" title="Side-by-Side View">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M12 3v18"/></svg>
        </button>
      </div>

      <div class="header-group header-group--right">
        <input type="text" id="filename-input" class="filename-input" placeholder="Untitled">
        <button id="btn-download" class="view-btn icon-btn" title="Download file">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
          </svg>
        </button>
      </div>
    </div>
  </header>

  <main class="app-main">
    <div id="editor-wrapper" class="split-root">
      <div id="edit" class="pane pane--editor">
        <div id="editor" class="editor-surface"></div>
      </div>

      <div
        id="split-divider"
        class="divider"
        role="separator"
        aria-orientation="vertical"
        aria-label="Resize editor and preview">
      </div>

      <div id="preview" class="pane pane--preview">
        <div id="output" class="markdown-body output-surface"></div>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/storehouse-js@1.0.3/dist/storehouse.min.js"></script>

  <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
